@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-50 dark:bg-slate-900 transition-colors duration-300;
}

/* iOS Safari safe area support */
@supports (padding-bottom: env(safe-area-inset-bottom)) {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}